/* My Custom CSS */

body {
    background-color: beige;
    padding-top: 25px;
    font-family: 'Montserrat', sans-serif;
}

ul {
   list-style-type: none;
}

a {
    color: #b63b4d;
    text-decoration: none;
}

.accordion {
    max-width: 384px;
    margin: 100%;
    background: #efeded;
    border-radius: 0;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #4d4d4d;
    font-size; 14px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    position: relative;
    transition: all 0.4s ease;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    transition: all 0.4 ease;
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

accordion li.open .link {
    color: #aa00ff;
}

.accordion li.open i.fa-chevron-down {
    transition: rotate (180deg);
}

.submenu {
    display: none;
    background: #444359;
    font-size: 14px;
}

.submenu li{
     border-bottom: 1px solid #4b4a5e;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left; 42px;
    transition: all 0.25s ease;
}

.submenu a:hover {
    background: #b63b4d;
    color: #fff;
}



h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

h2 {
    animation-duration: 8sec;
    animation-name: slidein;
    animation-iteration-count: infinite;
    box-shadow: 0 0 10px 0 rbga(0, 0, 0, .4) inset;
    background: linlear gradient(to bottom, #fff 30%, #fcfcfc 40%, #f8f8f8 50%, #f0f0f0 100%);
    border-radius: 7px;
}

@keyframes slidein {
    
    0 {
        margin-left: 0%;
    }
    
    50% {
        margin-left: 150px;
    }
    
    100% {
        margin-left: 0%;
    }
}


h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

p {
    font-family: 'Montserrat', sans-serif;
}

ul {
    overflow: hidden;
}

.row {
    padding: 15px;
    height: 300px;
    width: 100%;
}

.button-primary {
    padding: 5px;
    border-radius: 10px;
}

.jumbtron {
    margin: auto;
    background-color: green;
    line-height: 1;
    height: 170px;
}

.row {
    padding: 15px;
    height: 300px;
    width: 100%;
}

.headerimage {
    display: block;
    max-width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,1)) url(bck.jpg);
    background-position: center;
}

.caption {
    text-align: right;
}

.classes1 {
    display: block;
    margin: auto;
    height: 100%;
}

.p-2 {
    width: 600px;
}

.footer {
    background: lightblue;

}

.footer,
.push {
    height: 50px;
    margin-top: 100%;
}

.footer h3 {
    text-align: center;
    padding-top: 10px;
}


.clearfix::after,
.calendar ol::after {
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden;
}


/*Calendar Styling*/

.calendar {
    border-radius: 60px;
}

@media (min-width: 992px) {
    .date {
        font-size: 3.5rem;
    }
}

.calendar ol li {
    float: left;
    width: 14.28571%;
}

.calendar .day-names {
    border-bottom: 1px solid #eee;
}

.calendar .day-names li {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.calendar .days li {
    border-bottom: 1px solid #eee;
    min-height: 8rem;
}

.calendar .days li .date {
    margin: 0.5rem 0;
}

.calendar .days li .event {
    font-size: 0.75rem;
    padding: 0.4rem;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4rem;
    margin-bottom: 1px;
}

.calendar .days li .event.span-2 {
    width: 200%;
}

.calendar .days li .event.begin {
    border-radius: 1rem 0 0 1rem;
}

.calendar .days li .event.end {
    border-radius: 0 1rem 1rem 0;
}

.calendar .days li .event.clear {
    background: none;
}

.calendar .days li:nth-child(n+29) {
    border-bottom: none;
}

.calendar .days li.outside .date {
    color: #ddd
}

.dropdown-content {
    display: none;
    position: relative;
    text-align: right;
    background-color: #f9f9f9;
    min-width: 160px;;
    box-shadow: 0px 8px 16px 0px rbga(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100%;
}

.demo:hover .event bg-success {
    animation-name: date;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.date {
    border-top: 50px solid #ccc;
    height: 80px;
}


.btn1 {
    background-color: teal;
    border: none;
    color: white;
    padding: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100%;
}

.btn2 {
    background-color: teal;
    border: none;
    color: white;
    padding: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100%;
}

.btn3 {
    background-color: teal;
    border: none;
    color: white;
    padding: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100%;
}

.btn4 {
    background-color: teal;
    border: none;
    color: white;
    padding: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100%;
}

.btn5 {
    background-color: teal;
    border: none;
    color: white;
    padding: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100%;
}

.def-number-input {
    display: inline-flex;
    width: 80px;
    height: 30px;
    background-color: #9f9f9f;
    &, & * {
        box-sizing: border-box;
    }
}

#euv51egpw61 {
    width: 400px;
    margin: 10% auto;
    display: block;
}






